ion-content{
    --background:#F5F5F8;
    }

#forms{
    margin-bottom: 10%;
    padding:30px;
    margin-top: 3rem;
}
#buttonI{
    width:50%;
    height: 58px;
    margin-left:25%;
    margin-right:25%;
  
}
.items{
    margin-top: 2%;
    --background:#F5F5F8;
    border-radius: 30px;
}

.label{
    font-size: 15px;
    color: gray;
}
#buton1{
    --background:transparent;
    border: transparent;
    color: black;
    border-style: none;
    margin-left: 2rem;
}
#tabs{
    margin-top: 14rem;
}