#form{
    margin-left:5rem;
    margin-top: 1rem;
}
#title{
   

}
#select{
    width: 150px;
}
h1{
    margin-left: 5.5rem;
    margin-top: 3rem;
}
ion-button{
    margin-left: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}